
{% extends 'base.html'%}

{% block content %}
{% load static %}
<h1 style="text-align:center">ABOUT MEDICAL TRUST HOSPITAL</h1>

<div class ="container">
<div class="row mt-5">

    <div class="col-md-6">

    <img src="{% static '/images/image4.jpg' %}"  alt="..." class="center" style="height:600px;width:1000px;">
         </div>
</div>

    <div class ="pargraph">
<div class="row mt-5">
         <p>Since inception in 1973, the Hospital has come a long way with the commitment and passion of over 1,500 dedicated healthcare professionals, comprising internationally acclaimed doctors/surgeons and efficient support staff, and world-class facilities. Providing personalised patient-centered treatment and care, 24/7 support and services, we uphold high ethical standards while breaking new grounds in the field of healthcare and medicine.

We have to our credit, numerous path breaking achievements in the field, which is indeed the result of our undeterred pursuit of excellence in healthcare. In continuation to our legacy of care, compassion and commitment, as established by our founder Dr. P. A. Verghese , Medical Trust Hospital now has a world-class medical complex integrated with the best of all infrastructure and medical expertise, to cater to the needs of International and local patients with equal passion. All adding up to our steadfast dedication which ensures that on the road to recovery, there are no unpleasant surprises.

Medical Trust Hospital also dedicates its advanced facilities and know-how to research and development making further inroads in the field of health and medicine. The hospital runs educational institutions to impart knowledge and training in Nursing, Physiotherapy, Paramedical Sciences and Radiological Techniques, to build an efficient workforce of healthcare professionals, to adequately handle the global requirements of medical and surgical emergencies.

Today, with over five decades of experience in the field, we remain the hospital of choice for providing medical care to visiting International delegates and eminent personalities; for corporates or overseas companies to handle their emergency rescue and evacuation services; for all International Sports Events conducted in Cochin, Kerala, to provide medical assistance; among others.

ABOUT US

About the Hospital
Our Mission, Vision & Quality Policy
Founder & Management
Achievements & Recognition


HEALTH GUIDE

Conditions & Treatments
Blogs
Articles
Frequently Asked Questions
Healthcare in Kerala

  </p>
    </div>
    </div>
    </div>

{% endblock %}
