{%extends 'base.html'%}

{% block content %}
{% load static %}
<div class="card mb-3">
  <img src="{% static '/images/contact2.jpg' %}" class="card-img-top" alt="..."style="height:600px;">
  <div class="card-body">
    <h1 align="center">CONTACT MEDICAL TRUST HOSPITAL</h1>
  </div>
</div>


<div class="text-center">
    <div class="container" >
  <div class="row mt-5">
    <div class="col order-0" >
        <img src="{% static '/images/location.png' %}" class="card-img-top" style="width:12%" >
     <h3>Location</h3>
        <p >Medical Trust Hospital<br>Palarivattom</p>


    </div>
    <div class="col">
        <img src="{% static '/images/phone.png' %}" class="card-img-top" style="width:12%" >

      <h3>Phone</h3>
        <p>123456878910<br>04791232</p>
    </div>
    <div class="col " >
                <img src="{% static '/images/email.png' %}" class="card-img-top" style="width:9%" >

     <h3>Email</h3>
        <p>medicaltrustpalarivattom@gmail.com<br>medicalhospital@gmail.com</p>
    </div>
  </div>
</div>
</div>
{% endblock %}